@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
   
body{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    line-height: 1.50; 
    letter-spacing: 0.22px;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    /* background-color: burlywood; */
}
a {
    text-decoration: none;
}
.my-animation{
    animation: my_animation 3s;
}
@keyframes my_animation {
    0%,
    20%,
    40% {transform: scale(1);
        opacity:0;}
    10%,
    30%,
    50% {transform: scale(1.1);
        opacity:1;}
    100% {transform: translateX(-900px);}
}
/* -------------header -------------------- */
.header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.nav {
}
.nav-list {
    display: flex;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    color: #292F36;
    font-size: 20px;    
    letter-spacing: 0.4px;
}
.nav-item:hover a{
    color: #CDA274;
}
/* -------------banner -------------------- */
.banner {
    padding:188px 0 260px 0;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;
    margin-bottom: 112px;
}
.banner-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 80px;
    line-height: 1.20; /* 120% */
    margin-bottom: 19px;
}
.banner-text {
    margin-bottom: 35px;
}
.banner-btn {
    /* background-color: #292F36; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,98,129,0.9612219887955182) 51%, rgba(2,0,36,1) 100%);
   background-size: 200% auto;
    color:white;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}
.banner-btn:hover{
    /* background-color: #154f91; */
    /* transform:scale(1.1); */
    background-position: right center;
}

/* -------------fetures -------------------- */
.fetures {
    
    padding: 75px 52px;
    background-color: #f4f0ec;
    border-radius: 30px;
    margin-bottom: 183px;;

}
.features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 104px ;

}
.features-item {
    text-align: center;
    flex-basis: calc((100% - 3 * 103px) /3 )
    /* padding: 0px 52px; */
}

.features-item h3{
    font-family: DM Serif Display;
    margin-bottom: 17px;
}
/* -------------project -------------------- */
.project {
    display:flex;
    margin-bottom: 100px;
}
.wrap {
    margin: 26px 0px;
}
.project-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 50px;
    line-height: 1.30;
    margin-bottom: 42px; 
}
.project-text {
    max-width: 531px;
    margin-bottom: 183px;
}
.project button{
color:#FFF;
border-radius: 18px;
border: 2px solid #292F36;
background: #292F36;
padding:22px 50px;
font-size: 18px;
line-height: 27px; 
letter-spacing: 0.72px;
}
.project img{
   border-radius: 0px 326px 0px 123px;
   margin-left: 77px;
}
/* -------------brand -------------------- */
.brand {
    border-radius: 25px;
    background: linear-gradient(0deg, #F4F0EC 0%, #F4F0EC 100%), #FFF;
    margin-bottom: 183px;
}
.brand-list {
    display:flex;
    padding: 48px 0;
    align-items: center;
    justify-content: space-around;

}
.brand-item {
}
/* -------------projects -------------------- */

  
  .projects {
    margin-bottom: 161px;
  }
  
  .projects-title {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 47px;
    line-height: 1.32;
    margin-bottom: 20px;
  }
  
  .projects-text {
    
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
  }
  
  .project-item {}
  
  .projects-item img {
    border-top-right-radius: 80px;
    margin-bottom: 25px;
  }
  
  .project-item h3 {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 24px;
    line-height: 1.56;
  }
  
  .project-item p {
    text-align: center;
  }
/* -------------footer -------------------- */
.footer {
}
.footer-info {
}
.footer-logo {
}
.footer-text {
}
.social-list {
}
.social-item {
}
.footer-copyright {
}
